body {
	background-image: url(../img/orange_fruit.jpg);
	background-repeat: no-repeat;
	background-position: 0px -200px;
	background-size: 100%;
}

.text {
	text-align: center;
	margin: 7px 7px 7px 7px;
}

.copyleft {
	width: 100px;
}

header {
	font-size: 32;
}